<h1>About Page</h1>
<h2>CA02 - Creative Express Application with ChatGPT</h2>
<p>
    The purpose of this project is to utilize the Express, MongoDB, EJS framework
    to write a web application. It will display the skills acquired through the
    development of the previous assignment, PA04, while also providing opportunity
    to display creativity. We will leverage ChatGPT for this assignment to stay in
    line with the purpose of this project. The application will focus on providing
    services to software developers to increase their productivity by offloading time
    consuming tasks with minimum risk to the AI.
</p>
