<h1>Code Comment Generator</h1>

<% if (dialogue !== null) { %>
    <h3>Prompt</h3>
    <p><%= dialogue.prompt %></p>
    <h3>Response</h3>
    <p><%= dialogue.response%></p>
    <% } else { %>
        <p>No recent dialogue</p>
    <% } %>

<h2></h2>
<form method="POST" action="/codeCommentGen">
    <input type="text" id="language" name="language" placeholder="Python" required>
    <br>
    <input type="text" id="prompt" name="prompt" placeholder="print('Hello, World!')" required>
    <br>
    <input type="submit" value="Ask">
</form>