<h1>Question Answerer (With a Twist)</h1>

<h2>Most Recent Dialogue</h2>

<% if (dialogue !== null) { %>
<h3>Prompt</h3>
<p><%= dialogue.prompt %></p>
<h3>Response</h3>
<p><%= dialogue.response%></p>
<% } else { %>
    <p>No recent dialogue</p>
<% } %>

<h2></h2>
<form method="POST" action="/sarcasticResponse">
    <input type="text" id="question" name="question" placeholder="Ask a Question" required>
    <br>
    <input type="submit" value="Ask">
</form>