<h1>Team</h1>

<h2>Grace Hu</h2>
<h3>GitHub: GraceHu00</h3>
<h4>Role: </h4>
<p></p>

<h2>Brandon J. Lacy</h2>
<h3>GitHub: AG3NTZ3R0</h3>
<h4>Role: Initial Code Infrastructure (Steps 1, 2, 3, 4, 5 (A, B, C, D) and Code Comment Generator Service</h4>
<p>
    Brandon earned a Bachelor of Science degree in computer science and cybersecurity from Sacred Heart University. He
    has experience in both the public and private sector. He has worked as a member of the incident response team for
    the Office of the Comptroller of the Commonwealth of Massachusetts and as a member of the data science and insights
    team for Hubbell Inc. Brandon is excited to expand his knowledge of machine learning in an academic setting to
    allow him to gain a deeper understand of the technology from both an application and mathematical perspective.
</p>

<h2>Yundi Ma</h2>
<h3>GitHub: </h3>
<p></p>

<h2>Nathan Tran</h2>
<h3>GitHub: NathanT413</h3>
<p></p>

<h2>Eric Wang</h2>
<h3>GitHub: EricWang223</h3>
<p></p>